.categoria{
    font-size: 18px;
    font-weight: bold;
    color: #9FBE8E;
}
.nombre-producto{
    font-size: 26px;
    font-weight: bold;
    color: #151411;
    text-align: start;
}
.descripcion-producto{
    font-size: 18px;
    font-weight: normal;
    color: #674636;
    text-align: justify;
}
.precio{
    font-size: 18px;
    font-weight: bold;
    color: #151411;
}
.btn-carrito{
    background-color: #ffbb00;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.btn-carrito:hover{
    background-color: black;
    color: #ffbb00;
    
}
.carta{
    border: #ffbb00 solid;
    border-width: 2px;
    border-radius: 20px;
    transition: transform 0.3s ease; 
}
.img-product img {
    border-radius: 40px;
    width: 85%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.carta:hover {
    transform: scale(1.05);
}
.img-product{
    overflow: hidden;
    height: 300px;
    width: 100%; 
    position: relative;
}

@media (max-width: 992px){
    .card{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    .img-product{
        overflow: hidden;
        height: 280px;
    }

}